<h1 class="title">Poll Creation</h1>
<mat-form-field>
    <mat-label>Poll Name</mat-label>
    <input matInput required [(ngModel)]="poll.name">
</mat-form-field>
<mat-form-field>
    <mat-label>Poll Password</mat-label>
    <input matInput required [(ngModel)]="poll.password">
</mat-form-field>
<mat-form-field floatLabel="always" class="amount">
    <mat-label>Amount</mat-label>
    <input matInput type="number" class="right-align" [(ngModel)]="poll.money">
    <span matTextPrefix>$&nbsp;</span>
    <span matTextSuffix>.00</span>
</mat-form-field>
<div *ngFor="let question of this.poll.questions; index as i">
    <div class="question-container" style="display: flex;">
        <div style="width: 55px;">
            <p class="question-number">#{{i + 1}}.</p>
        </div>
        <div style="flex-grow: 1;">
            <mat-form-field style="padding-top: 10px; width: 99%;">
                <mat-label>Question</mat-label>
                <textarea matInput [(ngModel)]="question.question"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Answer Type</mat-label>
                <mat-select [(value)]="question.type">
                  <mat-option value="QuestionType.TrueFalse">True/False</mat-option>
                  <mat-option value="QuestionType.Multiple">Multiple Choices</mat-option>
                  <mat-option value="QuestionType.ClosestNumber">Closest Number</mat-option>
                  <mat-option value="QuestionType.Text">Text</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<button (click)="addQuestion()" mat-raised-button color="accent" class="add-question-button">Add Question</button>
<div class="button-row">
    <button (click)="cancel()" mat-raised-button color="warn" class="cancel-button">Cancel</button>
    <button mat-raised-button color="primary" class="create-button">Create Poll</button>
</div>