body {
    font-family: 'Roboto Slab', 'sans-serif';
    font-size: 16px;
    background-color: #fff;
    color: #2A2B2E;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #fff;
    padding: 25px 100px 0px 25px;
    border-bottom: 2px solid #97939A;
}

main {
    height: 100%;
    padding-right: 25px;
}

h1 {
    color: #2A2B2E;
    font-family: 'Roboto Slab', 'serif';
    font-size: 56px;
    margin: 0;
    font-weight: normal;
}

h2 {
    color: #2A2B2E;
    font-family: 'Roboto Slab', 'serif';
    font-weight: normal;
}

svg {
    background-color: #ffffff;
}

button {
    padding: 10px 30px;
    color: #000;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
}

#viz-button1,
#viz-button2,
#viz-button3,
#viz-button4,
#viz-button5 {
    color: #000;
    background-color: lightgray;
    width: auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin: auto;
}

#viz-button1:hover, #viz-button1:active,
#viz-button2:hover, #viz-button2:active,
#viz-button3:hover, #viz-button3:active,
#viz-button4:hover, #viz-button4:active,
#viz-button5:hover, #viz-button5:active {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

#season-buttons {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#season-buttons-container {
    display: none;
}

#summer-button {
    color: #000;
    width: Auto;
    height: 50px;
    background-color: #2ca02c;
    border: 2px solid #2ca02c;
    margin: 10px;
}


#winter-button {
    color: #000;
    background-color: #1f77b4;
    border: 2px solid #1f77b4;
    width: Auto;
    height: 50px;
    margin: 10px;
}


#fall-button {
    color: #000;
    width: Auto;
    height: 50px;
    background-color: #d62728;
    border: 2px solid #d62728;
    margin: 10px;
}


#spring-button {
    color: #000;
    width: Auto;
    height: 50px;
    background-color: #ff7f0e;
    border: 2px solid #ff7f0e;
    margin: 10px;
}

.title, .axis-text {
    transform-origin: center;
    transform-box: fill-box;
    text-anchor: middle;
}

.viz-container{
    height: 100%;
    padding: 0 100px;
}

.graph {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tick line{
    visibility: hidden;
}

.info {
    pointer-events: none;
    font-family: 'Roboto';
}

.axis text {
    font-family: 'Roboto';
    cursor: default;
    transform-box: fill-box;
    transform-origin: center;
}

.axis path {
    opacity: 100;
}

.axis path, .axis line {
    stroke : black;
}

.graph-title{
    transform-origin: center;
    stroke : black;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    font-size: large;
    padding: 12px;
    background: black;
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
  }