<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="title-center">Bets & Polls</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="sub-toolbar">
        <span>Polls</span>
    </mat-toolbar>
</p>
<div class="buttons">
    <div *ngFor="let poll of this.pollNames;">
        <div>
            <button mat-stroked-button class="poll-button">{{poll.name}}</button>
        </div>
    </div>
    <button (click)="createNewPoll()" mat-raised-button class="create-new-button" color="accent">Create New</button>
</div>